---
title: Hello Internet - H.I. #73: Unofficial Official
navBarTitle: Hello Internet Stuff you should know

navBarMenuButton: false
navBarArrowButton: true
navBarSubscribeButton: true
navBarUnSubscribeButton: false

menuOpen: false
searchOpen: false
playerOpen: true

showDoButtons: true
viewed: false

options:
- mark not viewed
- mark viewed
- subscribe
- unsubscribe
---

<div class="episode-full">
  <div class="info">
    <div class="cover">
      <img src="{{assets}}/img/hi.png">
      <div class="action-buttons">
        {{#if showDoButtons}}
          <button class="btn" id="play">
            <i class="material-icons">play_arrow</i>
            Play
          </button>
          <!--
          <button class="btn" id="mark-viewed">
            <i class="material-icons">check_box_outline_blank</i>
            Mark Viewed
          </button>
          -->
        {{else}}
          <button class="btn" id="mark-new">
            <i class="material-icons">check_box</i>
            Viewed
          </button>
          <button class="btn hidden" id="mark-new">
            <i class="material-icons">not_interested</i>
            Mark new
          </button>
        {{/if}}
      </div>
    </div>
    <div class="title">
      <h2>H.I. #73: Unofficial Official</h2>
      <div class="dates">
        <div>Released: 22 Nov 2016</div>
        <div>Duration: 1h 33m</div>
        {{#if viewed}}
          <div class="status viewed">
            <i class="material-icons">check</i>
            viewed
          </div>
        {{else}}
          <div class="status not-viewed">
            <i class="material-icons">fiber_new</i>
            not viewed
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="details">




<p>Brady and Grey discuss: Brady visits Derek, greyhound corner, the UK/EU referendum, and problems with YouTube's content ID system and freeboot depression.  </p>

<h2 id="broughttoyouby">Brought to You By</h2>

<p><a href="https://www.hover.com/?hellointernet">Hover: The best way to buy and manage domain names. Use coupon code 'React' for 10% off</a></p>

<p><a href="https://www.harrys.com/?hellointernetpodcast">Harry's: Quality Men's Shaving Products. Promocode HI for $5 off your first purchase</a></p>

<p><a href="http://www.squarespace.com/hellointernet">Squarespace: Use code HELLO for 10% off your website</a></p>

<p><a href="http://www.patreon.com/hellointernet">Listeners like YOU on Patreon</a></p>

<h2 id="shownotes">Show Notes</h2>

<p><strong><a href="http://www.reddit.com/r/cgpgrey">Discuss this episode on the reddit</a></strong></p>

<p><a href="https://www.youtube.com/watch?v=LOE7h-ae3y0">Jim Carrey in Brazil</a></p>

<p><a href="https://www.youtube.com/user/1veritasium">Derek of Veritasium</a></p>

<p><a href="https://twitter.com/BradyHaran/status/701336654976458752/photo/1">Brady taking advantage of Derek's pointless recklessness</a></p>

<p><a href="https://www.youtube.com/user/vsauce">Michael of Vsauce</a></p>

<p><a href="https://www.reddit.com/r/CGPGrey/comments/48all2/zebra_vs_horses_americapox_part_2/">Americapox Part 2</a></p>

<p><a href="http://www.independent.co.uk/news/uk/home-news/bookmakers-urged-to-boost-their-contribution-to-greyhound-welfare-a6894386.html">Bookmakers urged to boost their contribution to greyhound welfare</a></p>

<p><a href="https://www.youtube.com/watch?v=ujbXk26yeHg">lulu the greyhound crash</a></p>

<p><a href="https://www.justgiving.com/lulu-greyhound">Lulu's fundraiser for the Retired Greyhound Trust</a></p>

<p><a href="https://en.wikipedia.org/wiki/United_Kingdom_European_Union_membership_referendum,_2016">UK/EU independence referendum</a></p>

<p><a href="https://en.wikipedia.org/wiki/Flag_of_Europe">EU Flag</a></p>

<p><a href="https://www.youtube.com/watch?v=vjXNvLDkDTA">GradeAunderA: Everything That's Wrong with YouTube Part 1</a></p>

<p><a href="https://www.youtube.com/watch?v=sF2tCY281Rk">GradeAunderA: Everything That's Wrong with YouTube Part 2</a></p>

<p><a href="https://www.youtube.com/watch?v=QNZPQssir4E">I Hate Everything: copyright problems</a></p>

<p><a href="https://www.youtube.com/watch?v=zVqFAMOtwaI">Nostalgia Critic: Where's The Fair Use?</a></p>

<p><a href="https://www.youtube.com/watch?v=nuTHhtCyzLg">Your Movie Sucks: YouTube's Content ID System SUCKS</a></p>

<p><a href="https://www.facebook.com/cgpgrey/">Grey's Facebook page</a></p>

<p><a href="https://www.facebook.com/numberphile">Numberphile's Facebook page</a></p>
  </div>
</div>

