---
title: <%= episode.title %>
navBarTitle: <%= podcast.title %>

navBarMenuButton: false
navBarArrowButton: true
navBarSearch: true

menuOpen: false
playerOpen: false

options:
- subscribe
- unsubscribe
- mark as played
- mark as new

miniPlayer: true
maxiPlayer: true
---
<div class="row">
  <div class="col s12">
    {{> episode-details episode=episode}}
  </div>
</div>
