---
title: <%= episode.title %>
navBarTitle: <%= podcast.title %>

navBarMenuButton: false
navBarArrowButton: true
navBarSearch: true

menuOpen: false
playerOpen: false

options:
- subscribe
- unsubscribe
- mark as played
- mark as new

miniPlayer: true
maxiPlayer: false
---
<div class="flex-row">
  <div class="flex-col sm12 md8 lg5">
    {{> episode-details episode=episode}}
  </div>
</div>
