---
title: Home
---
<nav>
  <div class= "row">
    <div class="col-xs-2">
      <button clas="toggle-menu"type="button">=</button>
    </div>
    <div class="col-xs">PonyPod</div>
    <div class="col-xs-2">
      <button clas="search" type="button">S</button>
    </div>
</nav>
<main>
  <div class="row">
    {{> podcast-card logo="/img/aom.jpg"}}
    {{> podcast-card logo="/img/99pi.png"}}
    {{> podcast-card logo="/img/cortex.png"}}
    {{> podcast-card logo="/img/freakonomics.png"}}
    {{> podcast-card logo="/img/hi.png"}}
    {{> podcast-card logo="/img/serial.png"}}
    {{> podcast-card logo="/img/sysk.jpg"}}
    {{> podcast-card logo="/img/tal.png"}}
    {{> podcast-card logo="/img/cortex.png"}}
    {{> podcast-card logo="/img/freakonomics.png"}}
    {{> podcast-card logo="/img/hi.png"}}
    {{> podcast-card logo="/img/serial.png"}}
    {{> podcast-card logo="/img/serial.png"}}
    {{> podcast-card logo="/img/sysk.jpg"}}
    {{> podcast-card logo="/img/tal.png"}}
    {{> podcast-card logo="/img/cortex.png"}}
    {{> podcast-card logo="/img/freakonomics.png"}}
    {{> podcast-card logo="/img/hi.png"}}
  </div>
</main>
