---
title: Home
navBarTitle: PonyPod

navBarMenuButton: true
navBarArrowButton: false
navBarSearchButton: false

menuOpen: false
searchOpen: false
playerOpen: false
---
<div class="row podcast-list">
  {{> podcast-card logo="/img/aom.jpg" hasNew=true}}
  {{> podcast-card logo="/img/99pi.png"}}
  {{> podcast-card logo="/img/cortex.png"}}
  {{> podcast-card logo="/img/freakonomics.png" hasNew=true}}
  {{> podcast-card logo="/img/hi.png"}}
  {{> podcast-card logo="/img/serial.png" hasNew=true}}
  {{> podcast-card logo="/img/sysk.jpg" hasNew=true}}
  {{> podcast-card logo="/img/tal.png" hasNew=true}}
  {{> podcast-card logo="/img/cortex.png"}}
  {{> podcast-card logo="/img/freakonomics.png"}}
  {{> podcast-card logo="/img/hi.png"}}
  {{> podcast-card logo="/img/serial.png" hasNew=true}}
  {{> podcast-card logo="/img/serial.png"}}
  {{> podcast-card logo="/img/sysk.jpg"}}
  {{> podcast-card logo="/img/tal.png"}}
  {{> podcast-card logo="/img/cortex.png"}}
  {{> podcast-card logo="/img/freakonomics.png"}}
  {{> podcast-card logo="/img/hi.png"}}
</div>
