---
title: Hello Internet podcast
navBarTitle: Hello Internet

navBarMenuButton: false
navBarArrowButton: true
navBarSubscribeButton: false
navBarUnSubscribeButton: true

menuOpen: false
searchOpen: false
---
<div class="podcast-details">
  <img src="{{assets}}/img/hi.png">
  <p>In their books "Freakonomics," "SuperFreakonomics" and "Think Like a Freak", Steven D. Levitt and Stephen J. Dubner  explore "the hidden side of everything," telling stories about cheating schoolteachers and eating champions while teaching us all to think a bit more creatively, rationally, and productively. The Freakonomics Radio podcast, hosted by Dubner, carries on that tradition with weekly episodes. Prepare to be enlightened, engaged, perhaps enraged, and definitely surprised.In their books "Freakonomics," "SuperFreakonomics" and "Think Like a Freak", Steven D. Levitt and Stephen J. Dubner  explore "the hidden side of everything," telling stories about cheating schoolteachers and eating champions while teaching us all to think a bit more creatively, rationally, and productively. The Freakonomics Radio podcast, hosted by Dubner, carries on that tradition with weekly episodes. Prepare to be enlightened, engaged, perhaps enraged, and definitely surprised.In their books "Freakonomics," "SuperFreakonomics" and "Think Like a Freak", Steven D. Levitt and Stephen J. Dubner  explore "the hidden side of everything," telling stories about cheating schoolteachers and eating champions while teaching us all to think a bit more creatively, rationally, and productively. The Freakonomics Radio podcast, hosted by Dubner, carries on that tradition with weekly episodes. Prepare to be enlightened, engaged, perhaps enraged, and definitely surprised.In their books "Freakonomics," "SuperFreakonomics" and "Think Like a Freak", Steven D. Levitt and Stephen J. Dubner  explore "the hidden side of everything," telling stories about cheating schoolteachers and eating champions while teaching us all to think a bit more creatively, rationally, and productively. The Freakonomics Radio podcast, hosted by Dubner, carries on that tradition with weekly episodes. Prepare to be enlightened, engaged, perhaps enraged, and definitely surprised.In their books "Freakonomics," "SuperFreakonomics" and "Think Like a Freak", Steven D. Levitt and Stephen J. Dubner  explore "the hidden side of everything," telling stories about cheating schoolteachers and eating champions while teaching us all to think a bit more creatively, rationally, and productively. The Freakonomics Radio podcast, hosted by Dubner, carries on that tradition with weekly episodes. Prepare to be enlightened, engaged, perhaps enraged, and definitely surprised.</p>
  <div class="toggle-button-container">
    <a href="#" class="toggle-button expand">
      <i class="material-icons">expand_more</i>
    </a>
    <a href="#" class="toggle-button collapse">
      <i class="material-icons">expand_less</i>
    </a>
  </div>
</div>
<div class="episode-list">
  <div class="divider">New Episodes</div>
  <section class="new-episodes">
    {{> episode-line title="H.I. #73: Unofficial Official" date="22" month="Nov" year="2016"}}
    {{> episode-line title="H.I. #72: 64 Pairs of Underwear and a really long title" date="31" month="Oct" year="2016"}}
    {{> episode-line title="H.I. #71: Trolley Problem" date="28" month="Oct" year="2016"}}
    {{> episode-line title="H.I. #70: Bun Fight" date="30" month="Sep" year="2016"}}
    {{> episode-line title="H.I. #69: Ex_Machina" date="17" month="Sep" year="2016"}}
  </section>
  <div class="divider">Played Episodes</div>
  <section class="played-episodes">
    {{> episode-line title="H.I. #73: Unofficial Official" date="22" month="Nov" year="2016"}}
    {{> episode-line title="H.I. #72: 64 Pairs of Underwear" date="31" month="Oct" year="2016"}}
    {{> episode-line title="H.I. #71: Trolley Problem" date="28" month="Oct" year="2016"}}
    {{> episode-line title="H.I. #70: Bun Fight" date="30" month="Sep" year="2016"}}
    {{> episode-line title="H.I. #69: Ex_Machina" date="17" month="Sep" year="2016"}}
    {{> episode-line title="H.I. #73: Unofficial Official" date="22" month="Nov" year="2016"}}
    {{> episode-line title="H.I. #72: 64 Pairs of Underwear" date="31" month="Oct" year="2016"}}
    {{> episode-line title="H.I. #71: Trolley Problem" date="28" month="Oct" year="2016"}}
    {{> episode-line title="H.I. #70: Bun Fight" date="30" month="Sep" year="2016"}}
    {{> episode-line title="H.I. #73: Unofficial Official" date="22" month="Nov" year="2016"}}
    {{> episode-line title="H.I. #72: 64 Pairs of Underwear" date="31" month="Oct" year="2016"}}
    {{> episode-line title="H.I. #71: Trolley Problem" date="28" month="Oct" year="2016"}}
    {{> episode-line title="H.I. #70: Bun Fight" date="30" month="Sep" year="2016"}}
    {{> episode-line title="H.I. #73: Unofficial Official" date="22" month="Nov" year="2016"}}
    {{> episode-line title="H.I. #72: 64 Pairs of Underwear" date="31" month="Oct" year="2016"}}
    {{> episode-line title="H.I. #71: Trolley Problem" date="28" month="Oct" year="2016"}}
    {{> episode-line title="H.I. #70: Bun Fight" date="30" month="Sep" year="2016"}}
    {{> episode-line title="H.I. #69: Ex_Machina" date="17" month="Sep" year="2016"}}
    {{> episode-line title="H.I. #69: Ex_Machina" date="17" month="Sep" year="2016"}}
    {{> episode-line title="H.I. #69: Ex_Machina" date="17" month="Sep" year="2016"}}
  </section>
</div>
