<div class="episode-line">
  <a href="#" class="play">
    <i class="material-icons play">play_arrow</i>
    <i class="material-icons pause">pause</i>
  </a>
  <div class="title">{{title}}</div>
  <div class="right-side">
    <div>{{date}}</div>
    <div>{{month}}</div>
    <div>{{year}}</div>
  </div>
</div>
