<div class="episode-line">
  <a href="#" class="play"><i class="material-icons">play_arrow</i></a>
  <div class="title">{{title}}</div>
  <div class="air-date">
    <div>{{date}}</div>
    <div>{{month}}</div>
    <div>{{year}}</div>
  </div>
</div>
