<div class="login-container">
<div class="login">
  <p>Sign in to subscribe to podcasts and track your progress</p>
  <img src="{{assets}}/img/login-with-facebook.png">
  <img src="{{assets}}/img/login-with-google.png">
</div>
</div>
