<div class='nav navbar-nav'>
  <div class="nav-item">
    {{#if navBarMenuButton}}
      <a href="#" id="toggle-menu">
        <i class="material-icons">menu</i>
      </a>
    {{/if}}
    {{#if navBarArrowButton}}
      <a href="#" id="back-button">
        <i class="material-icons">arrow_back</i>
      </a>
    {{/if}}
  </div>
  {{#if searchOpen}}
    <input class="nav-search" type="text" id="search-field" placeholder="Search podcasts">
  {{else}}
    <h1 class="navbar-brand">{{navBarTitle}}</h1>
  {{/if}}

  {{#if options}}
  <div class="nav-item float-xs-right">
    <a href="#" id="options-menu">
      <i class="material-icons">more_vert</i>
    </a>
  </div>
  {{/if}}

  {{#if navBarSubscribeButton}}
    <div class="nav-item float-xs-right">
      <a href="#" id="subscribe">
        <i class="material-icons">add</i>
      </a>
    </div>
  {{/if}}
  {{#if navBarUnSubscribeButton}}
    <div class="nav-item float-xs-right">
      <a href="#" id="unsubscribe">
        <i class="material-icons">check</i>
      </a>
    </div>
  {{/if}}

  {{#if navBarSearchButton}}
    <div class="nav-item float-xs-right">
      {{#if searchOpen}}
        <a href="#" id="search-close">
          <i class="material-icons">close</i>
        </a>
      {{else}}
        <a href="#" id="search">
          <i class="material-icons">search</i>
        </a>
      {{/if}}
    </div>
  {{/if}}

</div>

{{#if options}}
<div class="options-list hidden">
  <ul>
  {{#each options as |opt|}}
    <li>{{opt}}</li>
  {{/each}}
  </ul>
</div>
{{/if}}
