{{#if playerExpanded}}
  {{> player-expanded}}
{{else}}
  <div class="progress-bar">
    <div class="bar"></div>
  </div>
  <div class="episode">
    <a href="#" class="play">
      <i class="material-icons play">play_arrow</i>
      <i class="material-icons pause">pause</i>
    </a>
    <div class="title">
      H.I. #73: Unofficial OfficialH.I. #73: Unofficial OfficialH.I. #73: Unofficial OfficialH.I. #73: Unofficial OfficialH.I. #73: Unofficial Official
    </div>
    <div class="right-side">
      <i class="material-icons">expand_less</i>
      <img src="{{assets}}/img/hi.png">
    </div>
  </div>
{{/if}}
