<div class="progress-bar">
  <div class="bar"></div>
</div>
<div class="episode">
  <a href="#" class="play"><i class="material-icons">play_arrow</i></a>
  <div class="title">H.I. #73: Unofficial Official</div>
  <div class="right-side">
    <img src="{{assets}}/img/hi.png">
  </div>
</div>
