<div class="toggle-button-container">
  <a href="#" class="toggle-button expand">
    <i class="material-icons">expand_more</i>
  </a>
</div>
<div class="episode-short">
  <div class="info">
    <div class="cover">
      <img src="{{assets}}/img/hi.png">
    </div>
    <div class="title">
      <h2>H.I. #73: Unofficial OfficialH.I. #73: Unofficial OfficialH.I. #73: Unofficial OfficialH.I. #73: Unofficial OfficialH.I. #73: Unofficial Official</h2>
      <div class="dates">
        <div>Released: 22 Nov 2016</div>
        <div>Duration: 1h 33m</div>
        {{#if viewed}}
          <div class="status viewed">
            <i class="material-icons">check</i>
            viewed
          </div>
        {{else}}
          <div class="status not-viewed">
            <i class="material-icons">fiber_new</i>
            not viewed
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="details">
    <p>
      Brady and Grey discuss: Brady visits Derek, greyhound corner, the UK/EU referendum, and problems with YouTube's content ID system and freeboot depression.
      <a href="#">More...</a>
    </p>
  </div>
  <div class="controls">
    <div class="progress-bar">
      <div class="bar"></div>
    </div>
    <div class="buttons">
      <a href="#" class="back">
        <i class="material-icons">fast_rewind</i>
        <span>-10s</span>
      </a>
      <a href="#" class="play">
        <i class="material-icons">play_arrow</i>
      </a>
      <a href="#" class="forward">
        <i class="material-icons">fast_forward</i>
        <span>+30s</span>
      </a>
    </div>
  </div>
</div>
