<div class="podcast-grid">
  {{#each podcastCovers as |cover|}}
    <div class="podcast">
      <a href="/podcast.html">
        <img src="{{../assets}}/img/{{cover}}">
      </a>
    </div>
  {{/each}}
</div>
