<div class="podcast-details">
  <div class="card-image">
    <img src="{{assets}}/img/{{podcast.cover}}">
    <a class="subscribe-button subscribe waves-effect waves-light">
      <i class="material-icons">add</i>
    </a>
    <a class="subscribe-button unsubscribe waves-effect waves-light hidden">
      <i class="material-icons">check</i>
    </a>
  </div>
  <div class="podcast-description">
    <div class="summary">
      <p>{{podcast.summary}}</p>
    </div>
    <div class="description">
      <p>
        {{podcast.description}}
      </p>
    </div>
  </div>
  <div class="podcast-action">
    <a id="read-more" href="#!">Read More</a>
    <a id="read-less" href="#!">Read Less</a>
  </div>
</div>
