<div class="podcast-details">
  <div class="card-image">
    <img src="{{assets}}/img/{{podcast.cover}}">
  </div>
  <div class="podcast-description">
    <div class="summary">
      <p>{{podcast.summary}}</p>
    </div>
    <div class="description">
      <p>
        {{podcast.description}}
      </p>
    </div>
  </div>
  <div class="podcast-action">
    <a id="read-more" href="#">Read More</a>
    <a id="read-less" href="#">Read Less</a>
  </div>
</div>
