$white: #fff;
$grey: #eaeaea;

$base-color: #2198A8;
$blue: #155bdb;
$dark-blue: #273142;
$beige: #B36D50;
$orange: #DB3215;

$bg: $white;
$shadow: 0 .03rem .5rem black;

body {
  background-color: $bg;

  a,
  a:focus,
  a:visited,
  a:hover {
    color: $dark-blue;
    text-decoration: none;
  }

  a:hover {
    color: rgba($dark-blue, .9);
  }
}


