$nav-height: 3rem;
$background-color: #eaeaea;
$navigation-color: #a994da;
$navigation-text-color: #fff;

body {
  background-color: $background-color;
}
nav {
  @extend .navbar, .navbar-fixed-top, .navbar-light;
  max-height: $nav-height;
  background-color: $navigation-color;

  a .material-icons {
    color: $navigation-text-color;
    font-size: 1.75rem;
    line-height: 2rem;
  }

  h1.navbar-brand {
    margin-left: 1rem;
    padding-top: 0.15rem;
    margin-bottom: 0 !important;
    color: $navigation-text-color;
  }

}
main {
  @extend .container-fluid;
  margin-top: $nav-height;
}

