body {
  background-color: rgba(#000,.1);
}
.row .col {
  padding: 0;
}
.material-icons {
  vertical-align: middle;
}
.fab-button {
  @extend .btn-floating, .btn-large, .z-depth-4;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: $secondary-color;
  &.hidden { display: none; }
}

#body-shadow {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 888;
  transition: opacity .3s;
  background-color: rgba(#000, .5);
  opacity: 0;
  cursor: pointer;
}

body.menu-open, body.player-open {
  #body-shadow {
    visibility: visible;
    opacity: 1;
  }
  aside {
    left: 0;
  }
}
