$nav-height: 4rem;
$menu-offset: 75%;
$max-menu-offset: 25rem;
$menu-open-speed: .3s;

$podcast-cover-xs-size: 8rem;
$podcast-cover-md-size: 15rem;

$player-progress-height: .5rem;
$episode-line-height: 4rem;

@mixin set-menu-size($size) {
  aside {
    width: $size;
    left: $size * -1 - 1;
  }
}

aside {
  transition: left $menu-open-speed;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: hidden;
  box-shadow: $shadow;
  z-index: 999;
  background-color: $bg;
}

@media (max-width: 30rem) {
  @include set-menu-size($menu-offset);
}
@media (min-width: 30rem) {
  @include set-menu-size($max-menu-offset);
}
@media (min-width: 70rem) {
  aside {
    left: 0 !important;
  }
  main {
    margin-left: $max-menu-offset !important;
  }
  nav, #player {
    left: $max-menu-offset !important;
  }
}

nav, #player {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 888;
}

nav {
  height: $nav-height;
  box-shadow: $shadow;
  top: 0;
}

#player {
  box-shadow: $shadow-top;
  bottom: 0;
  transition: height .3s;
  height: $player-progress-height + $episode-line-height;
}
#player.hidden {
  height: 0;
}
#player.player-expanded {
  height: calc(100% - #{$nav-height});
}

main {
  margin-top: $nav-height;
}

.shadow {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity $menu-open-speed;
  background-color: black;
  z-index: 889;
}

body.menu-open {
  aside {
    left: 0;
  }
  .shadow {
    visibility: visible;
    opacity: .6;
  }
}
