.maxi-player {
  header {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-top: .5rem;
    .title {
      h2 {
        margin: .5rem 0;
        font-size: 2rem;
      }
      .secondary {
        color: rgba(0,0,0,.54);
      }
    }
    .collapse-button {
      i {
        font-size: 3.5rem;
      }
    }
  }
  .description {
    padding: 0 1rem;
    .actions {
      text-align: center;
      .btn-flat {
        color: $secondary-color;
      }
    }
  }
}
