.menu-header {
  height: $nav-height * 1.5;
  background-color: $base-color;
  color: $white;
  padding-left: 1rem;
  padding-top: 1rem;

  h1 {
    font-size: 2rem;
  }
}
aside {
  background-color: $white;
}
.menu-section {
  a {
    display: block;
    padding: 1.5rem 2rem;
    font-size: large;
    font-weight: bold;

    &.selected, &:hover {
      background-color: $grey;
    }
  }
}
