nav {
  @extend .navbar, .navbar-light;
  max-height: $nav-height;
  background-color: $nav-bg-color;

  a .material-icons {
    color: $nav-text-color;
    font-size: 1.75rem;
    line-height: 2rem;
  }

  h1.navbar-brand {
    margin-left: 1rem;
    padding-top: 0.15rem;
    margin-bottom: 0 !important;
    color: $nav-text-color;
  }

}
