nav {
  @extend .navbar, .navbar-light;
  max-height: $nav-height;
  background-color: $base-color;
  border-radius: 0;

  .nav {
    padding-top: .5rem;
  }

  &,
  h1.navbar-brand,
  h1.navbar-brand:hover,
  a,
  a:visited {
    color: $white;
  }
  a:hover {
    color: rgba($white, .8);
  }

  a .material-icons {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  h1.navbar-brand {
    margin-right: 0rem;
    margin-left: 1rem;
    padding-top: 0.15rem;
    margin-bottom: 0 !important;
    max-width: 45%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .nav-search {
    background-color: $base-color;
    border: none;
    border-bottom: 1px solid $grey;
    color: $white;
    margin-left: 1rem;
    font-size: 1.25rem;

    &:focus, &:hover {
      outline: none;
    }
  }

  .navbar-nav .nav-item.float-xs-right + .nav-item.float-xs-right {
    margin-left: 0;
    margin-right: .7rem;
  }
}

.options-list {
  position: fixed;
  top: $nav-height;
  right: 0;
  width: 13rem;
  transition: width .3s;
  transition: height .3s;
  box-shadow: $materialize-shadow;
  background-color: $white;
  color: $dark-blue;

  &.hidden {
    width: 0;
    height: 0;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      cursor: pointer;
      padding: .5rem 1rem;
      font-size: 1.2rem;

      &:hover {
        background-color: $grey;
      }
    }
  }
}


