nav {
  @extend .navbar, .navbar-light;
  max-height: $nav-height;
  background-color: $base-color;
  border-radius: 0;

  &,
  h1.navbar-brand,
  h1.navbar-brand:hover,
  a,
  a:visited {
    color: $white;
  }
  a:hover {
    color: rgba($white, .8);
  }

  a .material-icons {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  h1.navbar-brand {
    margin-left: 1rem;
    padding-top: 0.15rem;
    margin-bottom: 0 !important;
  }

  .nav-search {
    background-color: $base-color;
    border: none;
    border-bottom: 1px solid $grey;
    color: $white;
    margin-left: 1rem;
    font-size: 1.25rem;

    &:focus, &:hover {
      outline: none;
    }
  }
}
