.player-line {
  height: $episode-line-height;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: bold;
  cursor: pointer;

  a.play {
    display: block;
    height: $episode-line-height;
    color: $orange;

    i.material-icons {
      font-size: 2.5rem;
      line-height: $episode-line-height;
      text-shadow: $materialize-text-shadow;
    }
    i.pause {
      display: none;
    }
    &.now-playing {
      i.play {
        display: none;
      }
      i.pause {
        display: block;
      }
    }
  }
  .title {
    padding-left: 1rem;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .right-side {
    margin-left: auto;
    margin-right: 0;
    height: $episode-line-height;
    width: $episode-line-height;
  }
}

.player-collapsed {
  background-color: $bg;

  .episode {
    @extend .player-line;
    .right-side {
      display: flex;
      width: auto;
      align-items: center;

      i.material-icons {
        font-size: 2.5rem;
      }
      img {
        height: 100%;
      }
    }
  }
  .progress-bar {
    height: $player-progress-height;
    background-color: rgba($beige, .2);
    margin: 0;
    width: 100%;

    .bar {
      width: 30%;
      height: 100%;
      background-color: $orange;
    }
  }

}
