#player {
  @extend .z-depth-2-up;
  visibility: visible;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transition: height .3s;
  background-color: #fff;
  z-index: 888;

  &.hidden {
    display: none;
    height: 0;
  }
  .mini-player, .maxi-player {
    display: none;
  }

  &.maxi {
    height: calc(100% - 6rem);
    .maxi-player {
      display: flex;
    }
  }
  &.mini {
    height: $navbar-height-mobile;
    .mini-player {
      display: flex;
    }
  }
}


