.podcast-details {
  @extend .card;
  .card-image {
    position: relative;
    .subscribe-button {
      @extend .btn-floating, .btn-large, .z-depth-4;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      &.subscribe { background-color: $secondary-color; }
      &.unsubscribe { background-color: $success-color; }
      &.hidden { display: none; }
    }

  }
  .card-action {
    text-align: center;
    a#read-more, a#read-less {
      color: color($secondary, "darken-2");
    }
  }

  .podcast-description {
    @extend .card-content;
    .description { display: none; }
    .summary { display: block; }
    &.full-description {
      .description { display: block; }
      .summary { display: none; }
    }
  }
  .podcast-action {
    @extend .card-action;
    #read-more { display: block; }
    #read-less { display: none; }
    &.full-description {
      #read-more { display: none; }
      #read-less { display: block; }
    }
  }
}
