$expand-button-height: 2rem;

@mixin set-initial-size($size) {
  img {
    height: $size;
  }
  & {
    height: $size + $expand-button-height;
  }
  .toggle-button {
    left: $size + 1;
  }
}

.podcast-details {
  position: relative;
  overflow: hidden;
  padding-bottom: $expand-button-height;
  img {
    margin: 0 1rem .5rem 0;
    float: left;
  }
  @include media-breakpoint-up(xs) {
    @include set-initial-size($podcast-cover-xs-size);
  }
  @include media-breakpoint-up(md) {
    @include set-initial-size($podcast-cover-md-size);
  }
  p {
    margin-top: .6rem;
  }
  &.expanded {
    height: auto;
    .toggle-button.expand {
      display: none;
    }
    .toggle-button.collapse {
      display: block;
    }
  }
  .toggle-button-container {
    position: absolute;
    bottom: 0;
    height: $expand-button-height;
    width: 100%;
    text-align: center;
    background-color: $bg;
    border-top: $border;
    border-bottom: $border;
  }
  .toggle-button.expand {
    display: block;
  }
  .toggle-button.collapse {
    display: none;
  }
}

.episode-list {
  .divider {
    width: 98%;
    margin: .3rem 1%;
    text-align: center;
    border-bottom: $border;
    color: rgba(128,128,128,.7);
    font-size: .8rem;
    font-weight: bold;
  }

  .episode-line {
    @extend .player-line;
    width: 98%;
    margin: auto;
    border-bottom: $border;
    font-weight: bold;

    &:hover {
      background-color: rgba($beige, .1);
    }
    .right-side {
      font-size: .6rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
    }
  }

  .played-episodes {
    .episode-line {
      opacity: .5;
    }
    .episode-line:hover {
      opacity: 1;
    }
  }
}

.toggle-button:hover,
.episode-line:hover {
  background-color: rgba($beige, .1);
}
