aside {
  @extend .z-depth-4;
  position: fixed;
  top: 0;
  bottom: 0;
  left: $side-menu-width * -1 - 1;
  width: 75%;
  max-width: $side-menu-width;
  z-index: 999;
  background-color: #fff;
  transition: left .3s;

  header {
    height: 56px;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-size: 1.75em;
    border-bottom: 1px solid rgba(#000,.15);
    color: color($secondary, "darken-4");
  }

  .nav li {
    height: 3rem;
    line-height: 3rem;
    padding-left: 2rem;
    font-weight: 600;
    cursor: pointer;

    &:hover, &.active {
      background-color: rgba(#000, .1);
    }
    a {
      display: block;
      color: rgba(#000, .87);
    }
  }

}

#body-shadow {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 998;
  transition: opacity .3s;
  background-color: rgba(#000, .5);
  opacity: 0;
  cursor: pointer;
}

body.menu-open {
  #body-shadow {
    visibility: visible;
    opacity: 1;
  }
  aside {
    left: 0;
  }
}
