// Materialize framework:
@import "components/mixins";
@import "components/color";
@import "variables";
@import "materialize";

// App css
@import "settings";
@import "nav";
@import "options-menu";
@import "side-menu";
@import "podcast-grid";
@import "podcast-details";
@import "episode-details";
@import "episode-list";
@import "mini-player";

body {
  background-color: rgba(#000,.1);
}
.row .col {
  padding: 0;
}
.material-icons {
  vertical-align: middle;
}
