<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#006064">

    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{assets}}/css/app.css">
  </head>
  <body>
    <div id="app-container" class="{{#if menuOpen}}menu-open{{/if}}">
      <div id="body-shadow"></div>
      {{> side-menu}}
      {{> nav}}
      <main>{{> body}}</main>
      {{> player}}
    </div>

    <script src="{{assets}}/js/bower.js"></script>
    <script src="{{assets}}/js/app.js"></script>
  </body>
</html>
